/* ====
General
==== */

body {
  background-color: #212121;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 0px;
  z-index: 0;
}

.background{
  fill:#212121;
}

a:visited {
    /*color: white;*/
}

svg {
  width:100%;
  height:100%;
}

/* ====
Nodes
==== */

.node {
  fill:#FFFFFF;
}

.node_l1{fill:#0373BD;}
.node_l2{fill:#21B449;}
.node_l3{fill:#F76B30;}
.node_l4{fill:#14C5F7;}
.node_l5{fill:#C6178C;}
.node_l6{fill:#843039;}
.node_l7{fill:#9ACD38;}
.node_l8{fill:#F772AD;}
.node_l9{fill:#D47B28;}
.node_la{fill:#ADCEEF;}
.node_lb{fill:#FFB60E;}
.node_lg{fill:#D8E9C1;}
.node_lj{fill:#D9EAC1;}
.node_ls{fill:#EF1921;}

/*.st0 {
  fill:#777777;
}*/

/* ====
Lines
==== */

svg .l2 {
  fill: #21B449;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l1 {
  z-index: 100;
  fill: #0373BD;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l3 {
  fill: #F76B30;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l4 {
  fill: #14C5F7;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l5 {
  fill: #C6178C;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l6 {
  fill: #843039;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l7 {
  fill: #9ACD38;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l8 {
  fill: #F772AD;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg .l9 {
  fill: #D47B28;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =========
* Line AREX
* ========= */

svg .la {
  fill: #ADCEEF;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* ============
* Line Bundang
* ============ */

svg .lb {
  fill: #FFB60E;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =============
* Line Everland
* ============= */

svg .le {
  fill: #21B449;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =====================
* Line Gyeongui-Jungang
* ===================== */

svg .lg {
  fill: #D8E9C1;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* ==============
* Line Incheon 1
* ============== */

svg .li1 {
  fill: #83D6EF;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =============================
* Line Jungang, Gyeongchun, ITX
* ============================= */

svg .lj {
  fill: #D9EAC1;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* ================
* Line Shinbundang
* ================ */

svg .ls {
  fill: #EF1921;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =========
* Line Suin
* ========= */

svg .lsi {
  fill: #F76B30;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* =============
* Line Uijeongbu
* ============== */

svg .lu {
  fill: #FFB60E;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* ==========
* Line Songdo
* =========== */

svg .lsd {
fill: #F76B30;
transition: 300ms;
transition-timing-function: ease-in-out;
-webkit-transition: 300ms;
-webkit-transition-timing-function: ease-in-out;
}

/* ===== *
* JQuery *
* ====== */

svg .inactive {
  fill: #303030;
}

.node_invisible {
  display: none;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}
