/* ====
General
==== */

body {
  background-color: #212121;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 0px;
  z-index: 0;
}

.background{
  fill:#212121;
}

a:visited {
    /*color: white;*/
}

svg {
  width:100%;
  height:100%;
}

/* ====
Nodes
==== */

.node {
  fill:#FFFFFF;
}

.node_l1{fill:#0373BD;}
.node_l2{fill:#21B449;}
.node_l3{fill:#F76B30;}
.node_l4{fill:#14C5F7;}
.node_l5{fill:#C6178C;}
.node_l6{fill:#843039;}
.node_l7{fill:#9ACD38;}
.node_l8{fill:#F772AD;}
.node_l9{fill:#D47B28;}
.node_la{fill:#ADCEEF;}
.node_lb{fill:#FFB60E;}
.node_lg{fill:#D8E9C1;}
.node_lj{fill:#D9EAC1;}
.node_ls{fill:#EF1921;}

/*.st0 {
  fill:#777777;
}*/

/* ====
Lines
==== */

svg .l2-line {
  fill: #21B449;
}

svg .l1-line {
  z-index: 100;
  fill: #0373BD;
}

svg .l3-line {
  fill: #F76B30;
}

svg .l4-line {
  fill: #14C5F7;
}

svg .l5-line {
  fill: #C6178C;
}

svg .l6-line {
  fill: #843039;
}

svg .l7-line {
  fill: #9ACD38;
}

svg .l8-line {
  fill: #F772AD;
}

svg .l9-line {
  fill: #D47B28;
}

/* =========
* Line AREX
* ========= */

svg .la-line {
  fill: #ADCEEF;
}

/* ============
* Line Bundang
* ============ */

svg .lb-line {
  fill: #FFB60E;
}

/* =============
* Line Everland
* ============= */

svg .le-line {
  fill: #21B449;
}

/* =====================
* Line Gyeongui-Jungang
* ===================== */

svg .lg-line {
  fill: #D8E9C1;
}

/* ==============
* Line Incheon 1
* ============== */

svg .li1-line {
  fill: #83D6EF;
}

/* =============================
* Line Jungang, Gyeongchun, ITX
* ============================= */

svg .lj-line {
  fill: #D9EAC1;
}

/* ================
* Line Shinbundang
* ================ */

svg .ls-line {
  fill: #EF1921;
}

/* =========
* Line Suin
* ========= */

svg .lsi-line {
  fill: #F76B30;
}

/* =============
* Line Uijeongbu
* ============== */

svg .lu-line {
  fill: #FFB60E;
}

/* ==========
* Line Songdo
* =========== */

svg .lsd-line {
    fill: #F76B30;
}

/* ===== *
* JQuery *
* ====== */

svg .inactive .line {
  fill: #303030;
}

.node_invisible {
  display: none;
}

.line,
svg .inactive,
.node_invisible {
    transition: 300ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: ease-in-out;
}
