<div class="ui secondary fixed menu">
    <a href="{% url 'home' %}" style="color:#FFFFFF;" class="item active">
        Maptro
    </a>

    {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}" class="item">
            <i style="color:#777777" class="fa fa-user" aria-hidden="true"></i>
        </a>
    {% else %}
        <a class="item" href="{% url 'social:begin' 'facebook' %}">
          <i style="color:#3b5998" class="fa fa-facebook-f" aria-hidden="true"></i>
        </a>
    {% endif %}

    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search stations...">
                <i style="color:#FFFFFF" class="search link icon"></i>
            </div>
        </div>
    </div>
</div>

<!-- <nav class="navbar-fixed-bottom">
  <a href="{% url 'home' %}" style="color:#777777">Maptro</a>
  by <a href="https://jyhwng.github.io/" style="color:#777777">jyhwng</a> /
  design <a href="" style="color:#777777">heihei</a>
</nav> -->
