{% for station in stations %}
    {% if station.nick_set.first is not None %}
        <text style="fill:#FFFFFF" class="stnm_l{{ no }}" text-anchor="{{ station.text_anchor }}" transform="matrix(0.7071 -0.7071 0.7071 0.7071 {{ station.matrix }})">
            <a type="button" id="{{ station.name }}" class="ui label">
              {{ station.get_best_nick.first }}
            </a>
        </text>
    {% else %}
        <text style="fill:#777777" class="stnm_l{{ no }}" text-anchor="{{ station.text_anchor }}" transform="matrix(0.7071 -0.7071 0.7071 0.7071 {{ station.matrix }})">
            <a type="button" id="{{ station.name }}" class="ui label">
              {{ station.name }}
            </a>
        </text>
    {% endif %}
{% endfor %}

{% for station in stations %}
    <div class="ui small basic modal" id="open_{{ station.name }}">
        <i class="close icon"></i>
        <div class="header">{{ station.name }}</div>
        <div class="content">
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        {% for nick in station.get_best_nick|slice:":5" %}
                            {{ forloop.counter }}. {{ nick.name }} ({{ nick.like_set.count }})
                            <br/>
                        {% empty %}
                            아직 이름이 없습니다. 이름을 지어주세요.
                        {% endfor %}
                    </div>
                    <div class="column">
                        <form class="ui form" action="{% url 'station:station_detail' station.pk %}" method="POST">
                            <div class="field">
                              {% csrf_token %}
                              {{ form.as_p }}
                            </div>
                            <button type="submit" class="ui button">저장</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <!-- <div class="ui approve button">저장</div> -->
            <div class="ui button"><a href="{% url 'station:station_detail' station.pk %}">더보기</a></div>
        </div>
    </div>
{% endfor %}

{% for station in stations %}
    <script>
      $( document ).ready(function() {
        $( '#{{ station.name }}' ).click(function() {
          $( '#open_{{ station.name }}' )
          .modal({ blurring: true })
          .modal('show');
        });
      });
    </script>
{% endfor %}
