{% for station in stations %}
    {% if station.nick_set.first is not None %}
        <text style="fill:#FFFFFF" text-anchor="{{ station.text_anchor }}" transform="matrix(0.7071 -0.7071 0.7071 0.7071 {{ station.matrix }})">
            <a type="button" id="{{ station.name }}" class="ui label">
              {{ station.get_best_nick.first }}
            </a>
        </text>
    {% else %}
        <text style="fill:#777777" text-anchor="{{ station.text_anchor }}" transform="matrix(0.7071 -0.7071 0.7071 0.7071 {{ station.matrix }})">
            <a type="button" id="{{ station.name }}" class="ui label">
              {{ station.name }}
            </a>
        </text>
    {% endif %}
{% endfor %}

{% for station in stations %}
    <div class="ui small basic modal" id="open_{{ station.name }}">
        <i class="close icon"></i>
        <div class="header">{{ station.name }}</div>
        <div class="content">
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                      <div class="nick_list">
                        {% for nick in station.get_best_nick %}
                        <p>
                            <span>{{ forloop.counter }}. {{ nick.name }} ({{ nick.like_set.count }})</span>
                            <span style="float:right"><a href="{% url 'station:nick_like' station.pk nick.pk %}"><i class="thumbs outline up icon"></i>&nbsp;</a></span>
                            {% if nick.author == user %}
                            <span style="float:right"><a href="{% url 'station:nick_delete' station.pk nick.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;</a></span>
                            {% endif %}
                        {% empty %}
                            아직 이름이 없습니다. 이름을 지어주세요.
                        </p>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="column">
                        <!-- form -->
                        <form class="ui form" id="name">
                            <div class="field">
                              {% csrf_token %}
                              {{ form.as_p }}
                            </div>
                            <button id="submit_{{ station.name }}" type="button" class="ui button">저장</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <!-- <div class="ui approve button">저장</div> -->
            <!-- <div class="ui button"><a href="{% url 'station:station_detail' station.pk %}">더보기</a></div> -->
        </div>
    </div>
{% endfor %}

{% for station in stations %}
<script>
  $( document ).ready(function() {
    $( '#{{ station.name }}' ).click(function() {
      $( '#open_{{ station.name }}' )
      .modal({ blurring: true })
      .modal('show');
    });
  });

  $( document ).ready(function() {
    $( '#submit_{{ station.name }}' ).click(function() {
      $.ajax({
        url: '{% url "station:station_detail" station.pk %}',
        type: 'post',
        data: $('form').serialize(),
        success: function(data) {
          $('.nick_list').append('<span>' + data.name + '</span>');
          console.log(data.name);
        }
      })
    })
  })
</script>
{% endfor %}
